@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CloudIQ Solutions<br />
      Velachery, Chennai.600042<br />
    <abbr title="Phone">P:</abbr>
    9003338475
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">cloudiq@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">salescloudiq@example.com</a>
</address>